/* HEADER */
@media (min-width: 90em) {
    body header {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: [start] 1fr [img] 15em [home] 5fr [signs] 15em [aux] 1fr [end];
    }

    body > header img {
        height: 5em; 
        width: 5em; 
        grid-column: img / home;
        margin-left: 12em;
    }

    body > header nav {
        grid-column: home / signs;
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
    }

    body > header > nav > h1 {
        margin-left: 5em;
        margin-right: 5em;
    }

    body > header signs {
        grid-column: signs / aux;
        display: flex; 
        justify-content: space-evenly;   
        align-items: center;    

    }

    body > header .dropdown {
        display: none;
    }
}
 
@media (max-width: 90em) {
    body header {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }

    body > header img {
        height: 5em; 
        width: 5em; 
        align-self: center;
    }

    .dropdown {
        display: flex;
    }

    .button {
        font-size: 4em;
        align-items: center;
        background-color: #fef06f;
        padding-bottom: 1em; 
        border-radius: 15px;
        color: white;
        height: 1.3em; 
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin-left: 0.5em;
        border: none;
        cursor: pointer;
        z-index: 999;
    }

    .button:hover, .button:focus{
        background-color: #938e06;
        z-index: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9999;
    }
      
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}

    body > header signs {
        margin-right: 1em; 
    }

    body > header .default {
        display: none;
    }
}


/* FOOTER */
@media (min-width: 80em) {
    body > footer {
        align-items: center;
        display: grid; 
        grid-template-columns: [start] auto [imgYummy] 1fr [authors] auto [imgFEUP];
    }

    body > footer > img:first-child {
        padding: 0.5em;
        margin-right: 7em;
        margin-left: 1em; 
        height: 5em;
        width: 5em;
        grid-column: start / imgYummy;
    }

    body > footer .textInfo {
        grid-column: imgYummy / authors;
    }

    .textInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .textInfo h4:last-of-type {
        padding-right: 4em;
    }

    body > footer > img:last-child {
        grid-column: authors / imgFEUP;
        margin-right: 1em;
    }
}

@media (max-width: 80em) {
    body > footer {
        align-items: center;
        display: grid; 
        grid-template-columns: [start] auto [imgYummy] 1fr [authors] auto [imgFEUP];
    }

    .textInfo {
        display: none;
    }

    body > footer > img:first-child {
        padding: 0.5em;
        margin-right: 7em;
        margin-left: 1em; 
        height: 5em;
        width: 5em;
        grid-column: start / imgYummy;
    }

    body > footer > img:last-child {
        grid-column: authors / imgFEUP;
        margin-right: 1em;
    }
}



/* Log in */
.loginDiv {
    display: flex;
    justify-content: center;
}

.formLogin {
    text-align: center;
}



/* Restaurants */
#restaurantsSearch {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: space-evenly;
}

.restaurantSearch {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 35em;
}

.restaurantSearch > img {
    width: 45%;
}

.restaurantSearch > div {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

