.profiling {
    display: grid; 
    grid-template-columns: [start] 1em [div1] auto [div2] 1em [end];
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: center;
    text-align: center;
    margin: 2em; 
}

.profiling h1 {
    grid-column: div1 / div2;
}

.profiling strong {
    grid-column: div1 / div2;
    padding: 0.3em; 
}