/* MAIN */

body main {
    text-align: center;
}

.imgSearch {
    position: relative;
}

.searchBar {    
    position: absolute;
    bottom: 8em;
    right: 50em;
}

/* BANNER */

@media (min-width: 100em) {
    #banner {
        width: 100%;
    }
}

@media (max-width: 100em) {
    #banner {
        width: 100%;
    }
}


/* Categories */

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-bottom: 1em;
    margin-top: 0.8em;
}

.category {
    margin: 1.5em;
    display: inline-block;
}

.category img {
    width: 12em;
    height: 10em;
}