main {
    display: grid;
    grid-template-rows: [start] auto [middle] auto [end];
}

.pic {
    grid-row: start / middle;
    justify-self: center;
    padding: 2em; 
    padding-top: 3em;
    padding-bottom: 0em;
}

.profiling {
    grid-row: middle / end;
}

.profiling {
    display: grid; 
    grid-template-columns: [start] 1em [div1] auto [div2] 1em [end];
    grid-template-rows: auto auto auto auto auto auto auto;
    justify-content: center;
    text-align: center;
    margin: 2em; 
    margin-bottom: 0em;
}

.profiling h1 {
    grid-column: div1 / div2;
}

.profiling strong {
    grid-column: div1 / div2;
    padding: 0.3em; 
}

.favourites {
    grid-column: div1 / div2;
    justify-content: center;
    text-align: center;
    margin: 1.5em; 
    margin-bottom: 4em;
}

.favourites strong {
    margin: 1em; 
}

