.restaurantGlobal {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Main Image of Restaurant */
.restaurantImage {
    margin: 1em;
    border-radius: 20px;
}


@media (min-width: 40em) {
    .restaurantGlobal > *{
        width: 40em;
    }
}

@media (max-width: 40em) {
    .restaurantGlobal > * {
        width: 100%;
    }
}

