

/* Banner and Search */
@media (min-width: 50em) {
    #imgSearch {
        text-align: center;
        position: relative;
        width: 100%;
    }
    
    #searchBar {    
        position: absolute;
        width: 100%;
        bottom: 14%;
    }
    
    #inputSearch {
        font-size: 1.1em;
        padding: 1em;
    }
}

@media (min-width: 100em) {
    #banner {
        width: 100em;
    }

    #inputSearch {
        width: 20em;
    }
}

@media (max-width: 100em) {
    #banner {
        width: 100%;
    }

    #inputSearch {
        width: 25%;
    }
}

@media (max-width: 50em) {
    #banner {
        display: none;
    }

    #inputSearch {
        font-size: 1.1em;
        width: 90%; 
        margin-top: 2em; 
        margin-bottom: -2em;  
        margin-left: 1em;  
        margin-right: 1em;
        padding: 1em;
    }
}






/* Categories */

#categories {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-bottom: 1em;
    margin-top: 0.8em;
}

.category {
    margin: 1.5em;
    display: inline-block;
}

.category img {
    width: 12em;
    height: 10em;
}



