.ordersGlobal {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (min-width: 50em) {
    .ordersGlobal > *{
        width: 50em;
    }
    .ordersGlobal > article {
        display: flex;
        flex-direction: row;
    }

    .orderButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 6em;
    }
}

@media (max-width: 50em) {
    .ordersGlobal > * {
        width: 100%;
    }

    .ordersGlobal > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
        margin-bottom: 3em;
    }

    .orderButtons {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-evenly;
    }
}

.order {
    display: flex;
    flex-grow: 1;
    margin: 2em;
}

.orderStatus {
    display: flex;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.orderInformation {
    padding: 1.5em;
    width: 70%;
}


.orderRestaurant {
    margin-top: 0em;
}
