.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic {
    justify-self: center;
    padding: 2em; 
    padding-top: 3em;
    padding-bottom: 0em;
}

.profiling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2em; 
    margin-bottom: 0em;
}

@media (max-width: 50em) {
    .profiling {
        width: 90%;
    }
}

@media (min-width: 50em) {
    .profiling {
        width: 45em;
    }
}

.favourites {
    justify-content: center;
    text-align: center;
    margin: 1em; 
    margin-bottom: 4em;
}


