.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: all .3s ease;
    position: relative;
    transition: all .3s ease;
}

#accountType {
    width: 10em; 
    margin-top: 2em; 
    margin-bottom: 1em; 
}

#file {
    display: none;
}

.pic img {
    position: absolute;
    object-fit: cover;
    height: 160px;
    width: 160px;
    z-index: 0;
} 

.-label {
    cursor: pointer; 
    height: 160px;
    width: 160px;
}

.-label {
    z-index: 1000;
}

.-label:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    color: rgb(250,250,250);
    transition: background-color .2s ease-in-out;
    border-radius: 50%;
    margin-bottom: 0;
}

.pic span {
    display: inline-flex;
    padding: .2em;
    height: 2em;
}

.profiling h1:nth-child(1) {
    padding: 0.6em;
    border-style: solid;
    border-width: 4px;
    background: url('../images/Artworks/images.jpg'); 
    background-origin: padding-box; 
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
}

.itemProfile1 {
    display: flex;
}

.itemProfile2 {
    display: none;
}

.itemProfile1, .itemProfile2, .itemProfile {
    border: 3px solid black;
    border-radius: 15px;
    padding: 0.5em; 
    font-weight: bold;
    margin: 0.5em;
}

.favourites h3 {
    padding: 0.6em;
    border-style:double;
    border-width: 4px;
    background: #FFFFE0; 
    background-origin: padding-box; 
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
}

.itemProfile1 > div {
    align-self: center;
    flex-grow: 1;
}

.itemProfile1 > button, .itemProfile2 > button {
    border-radius: 10px;
}

.itemProfile1 > button:hover, .itemProfile2 > button:hover {
    background-color: lightgray;
}

.itemProfile a {
    text-decoration: none;
    color: black; 
}
