body {
    font-family: sans-serif;
}

/* HEADER */

body header {
    background-color: beige;
    padding-top: 1em;
    padding-bottom: 1em;
}

body > header > nav > h1 a {
    text-decoration: none;
    color: black;
}

body > header > nav h1 {
    font-size: 120%;    
}

body > header > signs h1:nth-child(1) {
    font-size: 120%;
    padding-left: 0.5em;
    padding-right: 0.5em; 
    text-align: center;
}

body > header > signs h1:nth-child(2) {
    font-size: 120%;
    padding: 0.5em; 
    background-color: #FAFA33;   
}

body > header > signs > h1 a {
    text-decoration: none;
    color: black;
}

/* FOOTER */

body > footer {
    background-color: black;
    color: white;
}

/* Log in */
.formLogin {
    border: 2px solid black;
    border-radius: 30px;
    margin: 5em;
    background-color: lightgray;
    width: 20em;
}

.formLogin > input {
    padding: 0.5em;
    margin: 0.5em;
}

.formLogin > button {
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius: 10px;
}

.formLogin > img {
    width: 10em;
}



#restaurantsSearch {
    background-color: lightyellow;
}

.restaurantSearch {
    border: 2px solid black;
    background-color: black;
    border-radius: 30px;
}

.restaurantSearch > img {
    width: 15em;
    height: 15em;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.restaurantSearch > div {
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 2px solid black;
    padding: 1em;
}

.restaurantSearch > div:hover {
    background-color: lightgrey;
}

.restaurantSearch > div > a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}