body {
    font-family: sans-serif;
}


/* HEADER */

body header {
    background-color: beige;
    padding-top: 1em;
    padding-bottom: 1em;
}

body > header > nav > h1 a {
    text-decoration: none;
    color: black;
}

body > header > nav h1 {
    font-size: 120%;    
}

body > header > signs h1:nth-child(1) {
    font-size: 120%;
    padding-left: 0.5em;
    padding-right: 0.5em; 
    text-align: center;
}

body > header > signs h1:nth-child(2) {
    font-size: 120%;
    padding: 0.5em; 
    background-color: #FAFA33;
    
}





/* FOOTER */

body > footer {
    background-color: black;
    color: white;
}








/* Categories */

#categories {
    background-color:rgb(255, 240, 109);
}

.category {
    background-color: white;
    border-radius: 20px;
    border: 2px black solid;
}

.category:hover {
    background-color: lightgray;
}

.category img {
    border-bottom: 2px black solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

