.restaurantInformation > div {
    padding: 1.5em;
    margin: 1em;
    border: 2px solid black;
    border-radius: 40px;
}

.clientOrders {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}

/*  Restaurant categories, phone number and location  */
.restaurantExtraInformation {
    list-style-type: none;
    
}

.restaurantCategories {
    display: flex;
    margin-bottom: 0.5em;
}

.restaurantCategories :first-child {
    padding: 0.6em 0.2em 0.6em 0em;
    
}

.restaurantCategory {
    display: inline-block;
    padding: 0.6em;
    background-color: rgb(255, 255, 100);
    border-radius: 20px;
    margin-left: 1.5em;
}




/* Reviews */
.reviewHeader {
    display: flex;
}

.reviewHeader :first-child {
    padding: 0.6em 0.2em 0.6em 0em;
}

.reviewRating {
    padding: 0.6em;
    background-color: rgb(81, 255, 104);
    border-radius: 20px;
    margin-left: 1.5em;
}

.reviewPrice {
    padding: 0.6em;
    background-color: rgb(81, 229, 255);
    border-radius: 20px;
    margin-left: 1.5em;
}


.productInOrders {
    margin: 0.5em;
    padding: 1em;
    border-radius: 20px;
    background-color: white;
    width: 75%;
}

.productOrderRemoveButton {
    margin-top: 0.2em;
    padding: 0.4em;
    border: 1px solid white;
    border-radius: 10px;
}

.productOrderRemoveButton:hover {
    color: red;
    border: 1px solid red;
}

#makeOrder {
    padding: 0.5em;
    font-size: 1em;
    margin: 0.3em;
    border-radius: 30px;
    border: 2px solid black;
}

#makeOrder:hover {
    background-color: yellow;
    color: white;
    border: 2px solid white;
    text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
}