.order {
    border: 2px solid black;
    border-radius: 30px;
}

.orderInformation {
    border-right: 2px solid black;
    background-color:rgb(230, 230, 230);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.orderStatus {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 2em;
}

.orderButtons button {
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightyellow;
    opacity: 70%;
    width: 10em; 
    margin-left: 4em; 
}